/*-- scss:defaults --*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

// fonts
// $font-family-sans-serif: "Roboto Condensed", sans-serif !default;
// $font-family-monospace: monospace;

// Fonts


$font-family-sans-serif: "Libre Franklin" !default;

$headings-font-family: "Jost" !default;
$headings-font-weight: 600 !default;

$navbar-font-family: "Jost" !default;
$toc-font-family: "Jost" !default;
$footer-font-family: "Jost" !default;


// $primary: #a594fd !default;
$primary: #049798;
$body-bg: #101010; // #050505; //$dark;
$body-color: #f1f1ef;
$navbar-bg: $body-bg;
$navbar-fg: $body-color;
$card-bg: #101010;
$title-color: #f1f1ef;

/*-- scss:rules --*/

$web-font-path: "https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" !default;

@if $web-font-path {
    @import url($web-font-path);
}

html,
body {
  min-width: 440px;
  width: 100%;
}

.navbar {
  border: none;
}
.navbar-title {
  font-size: $font-size-base * 1.75;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: $primary;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  color: $primary;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
  color: $body-color;
}

@media screen and (min-width: 640px) {
  a.nav-link {
    position: relative;
  }

  .navbar .navbar-nav .nav-item {
    position: relative;
    font-size: $font-size-base * 1.25;
  }

  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $primary;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.3s;
  }

  .navbar .navbar-nav .nav-item:hover::after {
    width: 90%;
  }
}

#quarto-header {
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
  padding: 1rem;
}

.heading-font {
  font-family: $font-family-sans-serif;
}

.home-header {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base * 3;
}

.card-container {
  display: flex;
  justify-content: center;
  position: relative;

  > a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: none;
      color: $primary;
    }
    &:focus {
      text-decoration: none;
    }
  }
  > .card {
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: $card-bg;
    height: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);

    > .header {
      display: flex;
      margin-bottom: 1rem;
      justify-content: space-between;

      > h5 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
      }

      > div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}

.profile-card {
  display: block;
  padding: 1.5rem;
  margin-top: 2rem;
  align-items: center;
  width: 100%;
  border-radius: 1.25rem;
  background-color: $card-bg;

  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  height: fit-content;

  .grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    .img-container {
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      flex-direction: row;
      justify-content: center;
    }

    .bio-container {
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
      flex-direction: column;
      margin: auto;

      .greeting {
        padding-top: 1rem;
        font-size: 2.25rem;
        line-height: 2.5rem;
        font-weight: 700;
        letter-spacing: -0.05em;
        line-height: 1.25;
        white-space: nowrap;
      }

      .tagline {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
      }

      .mission {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-style: italic;
      }
    }
  }
}

#quarto-margin-sidebar {
  .quarto-listing-category-title {
    margin-left: 0.5em;
  }

  .quarto-listing-category {
    font-family: $toc-font-family;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.1;
    padding-left: 0.6rem;
    margin-left: 0.5em;
    border-left: 1px solid $gray-200;

    .category {
      padding-bottom: 0.5rem;
    }

    .active {
      font-weight: 400;
      color: $orange;
    }

    .quarto-category-count {
      font-weight: 200;
      font-size: 0.8em;
      color: $gray-600;
    }
  }
}

@media (min-width: 640px) {
  .profile-card {
    .grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      .img-container {
        align-items: center;
      }
      .bio-container {
        .greeting {
          font-size: 3rem;
          line-height: 1;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .profile-card {
    .grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));

      .bio-container {
        grid-column: span 2 / span 2;

        .greeting {
          font-size: 3.75rem;
          line-height: 1;
        }
      }
    }
  }
}
